<div class="Page-area">
       <h2 class="text-center">Manager User</h2>
    <div class="container border-top pt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Add Users</h2>
                <form #userForm="ngForm" (ngSubmit)="onAddUser(userForm.value)">
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" class="form-control" autocomplete="off" name="name" ngModel required>
                    </div>
                    <div class="form-group">
                        <label>Technology Used</label>
                        <input type="text" class="form-control" autocomplete="off" name="technology" ngModel required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Users</button>&nbsp;
                    <button type="button" class="btn btn-warning">Fetch Users</button>&nbsp;
                </form>
        
            </div>
                    
         </div>
   



         <div class="col-md-6">
            <h2>Ux Users</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      
                        <th scope="col">Name</th>
                        <th scope="col">Technology</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                      
                        <td>{{user.name}}</td>
                        <td>{{user.technology}}</td>
                        <td ><button type="button" class="btn btn-warning" value="Delete">Edit</button></td>
                        <td ><button type="button" class="btn btn-danger" value="Delete">Delete</button></td>
                    </tr>
                </tbody>
     
            </table>
            <!--Spinner-->
            <!--   <div class="text-center">
             <div class="spinner-border text-warning" role="status">
                 <span class="sr-only">Loading...</span>
               </div>Fetching Product...
           </div>-->
    </div>

</div>